@{
	Layout = "_Layout";
}

@model PierreTreats.Models.Treat

<h3>Create a new Treat</h3>

@using (Html.BeginForm)
{
	@Html.LabelFor(m => m.Name)
	@Html.TextBoxFor(m => m.Name)
	@Html.LabelFor(m => m.Price)
	@Html.EditorFor(m => m.Price)
	@Html.Label("Flavor")
	@Html.DropDownList("FlavorId")
	<input type="submit" class="btn btn-primary" value="Create Treat"/>
}