@{
	Layout = "_Layout";
}

@using PierreTreats.Models;

@if (Model.Count == 0)
{
	<h3>There are no Treats yet.  @Html.ActionLink("Add One?", "Create")</h3>
}
else
{
	<h3>Here are all of our delicious treats!</h3>
	<p>Sort by price ( @Html.ActionLink("Lowest", "Index", new {sortOrder = "priceAsc"}) | @Html.ActionLink("Highest", "Index", new {sortOrder = "priceDesc"}) )</p>
	<p>Sort by @Html.ActionLink("name", "Index")</p>
	<hr/>
	<ul>
		@foreach(Treat treat in Model)
		{
			<li>@Html.ActionLink($"{treat.Name}", "Details", new {id=treat.TreatId})</li>
		}
	</ul>
	<p>@Html.ActionLink("Create new Treat", "Create")</p>
}